.amarillo{
    color: blueviolet;
    font-style: oblique;
    font-size: large;
    font-family: sans-serif;
    padding: auto;
    border-color: black;
}
.color_boton{
    background-color: blueviolet;
    font-style: oblique;
    font-size: large;
    font-family: sans-serif;
}
.imagen{
    height: 150px;
    width: 150px;
}