<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="secondary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/logo.jpg" class="imagen"></ion-img>
  <br>
  <ion-button expand="block" routerLink="/seleccion-sec">Secciones</ion-button>
  <br><br><br>
  <center><ion-img src="assets/foto2.jpg" class="imagen2"></ion-img></center>
</ion-content>
