.color_boton{
    background-color: blueviolet;
    font-style: oblique;
    font-size: large;
    font-family: sans-serif;
}
.contenido{
    font-size: x-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    border-color: black;
    padding-left: 52PX;
}
.imagen{
    height: 100px;
    width: 100px;
}
.imagen2{
    height: 200px;
    width: 250px;
    
}