.titulo{
    color: black;
    padding-left: 15%;
    font-style: italic;
    font-size: x-large;
}
.subtitulo{
    color: gray;
    padding-left: 15%;
    font-style: inherit;
    font-size: large;
}
.imagen{
    height: 150px;
    width: 150px;
}